body {
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
}

nav {
  width: 50%;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar img {
  width: 20px;
  margin-top: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 57px;
  margin-left: 280px;
  margin-top: 120px;
}

.paragraph {
  display: flex;
  width: 16%;
  margin-left: 280px;
  margin-top: -30px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.rectangle {
  margin-left: 15%;
  margin-top: 35px;
}

.rectangle button {
  background-color: #1a2236;
  width: 330px;
  height: 60px;
  padding: 10px;
  color: white;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

button:hover {
  color: #ff7a59;
  border: #ff7a59 solid 1px;
  background: #fff;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15%;
}

.image img {
  width: 350px;
  margin-top: 60px;
}
