body{
    background-color: #fdfdfd;;
}
.main {
    width: 500px;
    margin: auto;
}
.container{
    display: flex;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}

.navbar img{
   
    width: 30px;
    height: 40px;
}
header img{
    width: 180px;
    height:120px;
}
.heading{
    width:220px;
}
.content h1{
    font-size: 70px;
    font-weight: 400;
    font-family: Playfair Display;
}
.para{
    width: 340px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
p{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;

}

.rectangle{
    background-color:#1A2236;
    width: 288px;
    padding: 20px;
    color:white;
    font-size: 24px;
    font-family: Poppins, Sans Serif;
    font-weight: 500;
    padding-left: 80px;
}
.image{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.image img{
    width: 350px;
    margin-top: 60px;
}