body {
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
  min-width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  padding: 20px;
}

.navbar img {
  width: 35px;
}

.content {
  padding: 20px;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 57px;
}

.paragraph {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.rectangle {
  margin-left: 15px;
}

.rectangle button {
  background-color: #1a2236;
  width: 310px;
  height: 60px;
  padding: 10px;
  color: white;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

button:hover {
  color: #1a2236;
  border: #ff7a59 solid 1px;
  background: #fff;
}

.image {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image img {
  width: 389px;
  margin-top: 60px;
}

/* Work section css starts from here */
.grid-container {
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto;
}

.card {
  background-color: white;
  border-radius: 5px;
}

.card .header h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-top: 65px;
}

.dwnld_btn img {
  width: 24px;
  border: 2px solid #fff;
  box-sizing: border-box;
  margin-left: 25px;
}

.card .photo img {
  min-width: 385px;
}

.card .content {
  background-color: #1a2236;
  height: 180px;
  margin-top: -5px;
}

.card .content h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: white;
}

.info ul {
  list-style-type: circle;
  margin: 0;
  padding: 0;
}

.card .content ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin-left: -35px;
}

.card .content .item1 {
  background-color: #98dede;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  padding: 7px;
  width: 70px;
  margin: auto;
  color: #1a2236;
}

.card .content .item2 {
  background-color: #98dede;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  padding: 7px;
  width: 70px;
  margin: auto;
  color: #1a2236;
}

.card .content .item3 {
  background-color: #98dede;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  padding: 7px;
  width: 70px;
  margin: auto;
  color: #1a2236;
}

.card .content button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #1a2236;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  margin-left: 20px;
  margin-top: 31px;
}

.card .content button img {
  width: 20.57px;
  height: 15.35px;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column {
  flex: 1;
}

.about {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  padding: 20px;
  margin: 0;
}

.about_para {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  margin-top: 10px;
}

.about_bg {
  background-color: #fff;
}

.about-setngs {
  padding: 20px;
}

.dwnld_btn {
  display: flex;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: #1a2236;
  text-align: center;
  padding: 7px;
  width: 172px;
  margin-top: 20px;
}

.bg-info {
  background-color: #1c528a;
  margin-top: 50px;
  min-width: 100vh;
}

.skills {
  display: flex;
}

.bg-info .skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.info h1 {
  color: white;
}

.info {
  margin-left: 50px;
  height: 289px;
}

.info ul li {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  margin-left: 25px;
}

.bg-info2 {
  background-color: #e2505c;
  min-width: 100vh;
}

.bg-info3 {
  background-color: #febf52;
  min-width: 100vh;
}